
  .add-brands-container {
    background-color: rgba(255, 255, 255, 0.277) !important;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); 
  }
  
  .form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    z-index: 10; 
  }

  .entrybox{
    background-color: white;
    color:black;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
 
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  